@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "National Park", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #3aa0ff;
$secondary: #1342ed;

$success: #00af00;
$danger: #e03b3b;
$warning: #ffc107;
$info: #7191e9;
$light: #F6F5F5;
$dark: #454545;

$black: #585858;
$white: #fdfdfd;