@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "National Park", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// $primary: #0c8384;
$primary: #032985;
$secondary: #34539B;

$success: #00af00;
$danger: #e03b3b;
$warning: #ffc107;
$info: #04a0ee;
$light: #F6F5F5;
$dark: #444340;

$black: #444340;
$white: #ffffff;
