// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Verdana-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'buttons.scss';

@import 'modal.scss';

@import 'input.scss';


.btn {
    border-radius: 8px;
}

.error-field {
    margin-top: 5px;
    text-transform: uppercase;
    color: #db3a3a;
    font-size: 9px;
    font-weight: 600;
}