@import 'variables';
#app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.restricted {
    cursor: no-drop;   
}

.fc-event-main {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.fc .fc-daygrid-day-frame {
    cursor: pointer;
}

.ck-editor__editable {
    min-height: 300px;
    max-height: 600px;
}

.image-container {
    display: flex;
    border: 1px dotted $primary;
    padding-bottom: 8px;
    border-radius: 18px;
   .image_path {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        position: relative;
        cursor: pointer;

        .upload-label {
            cursor: pointer;
            text-align: center;
            color: $primary;
            font-weight: 500;
        }
    }

    .image_preview {
        width: 100%;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        img {
            border-radius: 12px;
            height: 200px;
            width: 200px;
            object-fit: cover;
        }
    }
}

#isLoading {
    position: absolute;
    background-color: rgba($color: $dark, $alpha: .7);
    z-index: 1500;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-border {
    thead tr th {
        border: none !important;
    }
    tbody tr td {
        border: none !important;
        border-bottom: 1px solid rgba($color: $dark, $alpha: 1) !important;
    }
}

table {
    th {
        text-transform: uppercase;
        white-space: nowrap;
    }
    td {
        vertical-align: middle;
        text-transform: uppercase;
        height: 30px;
    }
}

.border-success {
    border: 2px solid rgba($color: $dark, $alpha: .1) !important;
    border-left: 5px solid rgba($color: $primary, $alpha: 1) !important;
}

.container {
    max-width: 1400px !important;
}

.dt-length label {
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 600;
}
main {
    font-size: 12px;
    width: 100%;
    overflow: auto;
    // Scrollbar styling (Webkit browsers)
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: $primary, $alpha: 1);
        border-radius: 4px;

        &:hover {
            background: #555;
        }
    }
}
.sidebar {
    max-width: 280px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scrollbar-gutter: stable;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 12px;
    transition: all ease 0.3s;
    border-right: 1px solid rgba($color: $dark, $alpha: .2);
    .sidebar-title {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba($color: $dark, $alpha: .2);
        position: sticky;
        top: 0;
        background-color: $white;
        z-index: 10;
        gap: 12px;
        padding: 32px 0px 16px 0px;
        img { 
            width: auto;
            height: 58px;
            object-fit: contain;
        }
        .title {
            margin-top: 0px;
            font-weight: 600;
            font-size: 12px;
            padding-top: 4px;
        }
        .text {
            font-size: 12px;
        }
    }

    .sidebar-list {
        width: 100%;
        padding: 8px;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2px;
        .sidebar-item {
            transition: background-color ease 0.3s;
            margin: 0px 8px 0px 8px;
            position: relative;
            transition: all ease 0.3s;
            color: rgba($color: $dark, $alpha: 0.7);
            cursor: pointer;
            border-radius: 24px;
            font-weight: 700;

            a {
                color: rgba($color: $dark, $alpha: 0.8) !important;
            }

            &:hover {
                a {
                    color: rgba($color: $dark, $alpha: .6) !important;
                }
            }

            .sidebar-link {
                display: flex;
                justify-content: start;
                gap: 10px;
                align-items: center;
                position: relative;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px 10px 10px 24px;
                text-decoration: none;
                color: $dark;
                border-radius: 12px;
                &:hover {
                    background-color: rgba($color: $primary, $alpha: 0.2) !important; 
                     color: $dark !important;
                    a {
                        color: rgba($color: $dark, $alpha: .6) !important;
                    }
                }
            }

            &.active {
                .sidebar-link {
                    background-color: $primary !important; 
                    color: $light !important;
                    i {
                        margin-left: -5px;
                    }
                }
            }
        }
    }

    .collapsable .nested-list {
        margin: 0px 0px 12px 30px;
        padding: 0px 0px 0px 0px;
        list-style-type: none;
        & a {
            text-decoration: none;
            color: $dark;
            white-space: nowrap;
        }
    }

     // Scrollbar styling (Webkit browsers)
    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: $primary, $alpha: .1);
        border-radius: 4px;

        &:hover {
            background: #555;
        }
    }
}

@media (max-width: 992px) {
    .sidebar {
        position: absolute;
        width: 280px;
        max-width: 80vw;
        display: block;
        background-color: $white;
        z-index: 9999;
        left: -280px;
    }
    .sidebar.show {
        left: 0 !important;
    }
}   
// Navbar Hamburger
.hamburger {
  position: absolute;
  top: 10px;
  right: 35px;

  input[type="checkbox"] {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    top: 15px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;

    &:checked {
      ~ .menu-items {
        transform: translateX(0);
      }

      ~ .hamburger-lines {
        .line1 {
          transform: rotate(45deg);
        }

        .line2 {
          transform: scaleY(0);
        }

        .line3 {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 2;

    .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: $primary;

      &.line1 {
        transform-origin: 0% 0%;
        transition: transform 0.2s ease-in-out;
      }

      &.line2 {
        transition: transform 0.2s ease-in-out;
      }

      &.line3 {
        transform-origin: 0% 100%;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}


.album-card {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba($color: $primary, $alpha: .3);
    display: flex;
    aspect-ratio: 8 / 8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    transition: all ease 0.3s;
    max-width: 220px;
    .album-title {
        padding: 8px;
        text-align: center;
    }
    .folder {
        font-size: 120px;
        transition: all ease 0.3s;
        color: $primary;
        position: relative;
    }
    .album-image {
        position: absolute;
        transition: all ease 0.3s;
        bottom: 12%;
        right: 10%;
        height: 60px;
        width: 90px;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid rgba($color: $primary, $alpha: 0.6);
    }
    &:hover {
        border: 1px solid $primary;
        .folder, .album-image {
            transform: scale(1.1);
        }   
    }
    .dropdown  {
        position: absolute;
        top: 6px;
        right: 4px;

        button {
            border: none;
            background-color: none;
        }
    }
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    a {
        img {
            aspect-ratio: 1 / 1;
            width: 100%;
            height: 150px; 
            object-fit: cover; 
            transition: all ease 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    button {
        position: absolute;
        top: 4px;
        right: 4px;
        background-color: $light;
    }
    
}

.card-container {
    position: relative;
    overflow: hidden;
    img {
        object-fit: cover;
        aspect-ratio: 1 / 1 ;
        width: 100%;
        border-radius: 12px;
    }
    .card-content {
        // position: absolute;
        bottom: 0;
        width: 100%;
        height: 24%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
        .name {
            border-bottom: 1px solid rgba($color: $dark, $alpha: .3);
            width: 100%;
            text-align: center;
            max-width: 220px;
            padding-bottom: 6px;
        }
        .position {
            margin-top: 6px;
        }
    }
}

.custom-card {
    width: 100%;
    border: 1px solid rgba($color: $primary, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .welcome {
        text-align: center;
        width: 100%;
        p {
            font-size: 24px;
            font-weight:600;
            border-bottom: 1px solid rgba($color: $dark, $alpha: .3);
            padding-bottom: 12px;
        }
        h1 {
            font-size: 60px;
            font-weight: 800;
            color: $primary;
        }
    }
}

label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3e3e3e;
}

.form-control, .form-select {
    text-transform: uppercase !important;
    font-weight: medium;
}

.check-in-out {
    
    .time {
        font-size: 24px;
        p {
            margin: 0;
            padding: 0;
        }
    }
}
.error-field {
    margin-top: 5px;
    text-transform: uppercase;
    color: #db3a3a;
    font-size: 9px;
    font-weight: 600;
}

.swal2-title {
    text-transform: uppercase;
}

.swal2-html-container, .swal2-confirm.swal2-styled {
    text-transform: uppercase !important;
    font-weight: 500;
}

.select2-container--default .select2-selection--multiple {
    min-height: 100px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: var(--bs-primary);
    color: $white;
}